<div class="jumbotron text-center">
<%if @user.avatar.attached?%>
	<%= image_tag @user.avatar, alt: 'avatar', :style => 'width: 7rem;' %>
<% else %>
	<img src="" class="rounded" alt=" ">
<%end%>
<h3><%= @user.first_name%> <%= @user.last_name%></h3>
<p>Description : <%= @user.description %></p>
<p>Email : <%= @user.email %></p>
<% if @events %>
	Events :
	<% @events.each do |event| %>
    <a href="<%= event_path(event.id) %>" > <%= event.title %> </a>
    <% end %>
<% end %>
</br>
<a href="<%= edit_user_registration_path %>" class="btn btn-primary text-center"> Editer  </a>
</div>
