<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Créer votre évènement</h1>
</div>

<p>
  <%= form_for @event do |f| %>
<div class="form-group">
  <label>Titre de l'event </label>
  <%= f.text_field :title, class: 'form-control'%>
</div>
<div class="form-group">
  <label>Date de l'event</label>
  <%= f.text_field :start_date, class: 'form-control'%>
</div>
<div class="form-group">
  <label>Durée de l'event</label>
  <%= f.text_field :duration, class: 'form-control'%>
</div>
<div class="form-group">
  <label>Description de l'event</label>
  <%= f.text_area :description, class: 'form-control'%>
</div>
<div class="form-group">
  <label>Prix</label>
  <%= f.text_field :price, class: 'form-control'%>
</div>
<div class="form-group">
<label>Localisation</label>
<%= f.text_field :location, class: 'form-control'%>
</div>
<div class="form-group">
<label>Image</label>
<%= f.file_field :event_picture, class: 'form-control'%>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Valider</button>
</div>
<% end %>
</p>